---
import Layout from '../../layouts/Layout.astro';
import ProductNav from '../../components/ProductNav.astro';
import ImgCard from '../../components/ImgCard.astro';
import img001 from '../../images/installs/porscheSub/001.jpg';
import img002 from '../../images/installs/porscheSub/002.jpg';
import img003 from '../../images/installs/porscheSub/003.jpg';
import img004 from '../../images/installs/porscheSub/004.jpg';
import img005 from '../../images/installs/porscheSub/005.jpg';
const title = 'A Subwoofer for Porsche 964, 996, 997, Boxster and Cayman';
---

<Layout title={title}>
  <main>
    <ProductNav />
    <div class="container">
      <h1 class="display-6">{title}</h1>
      <p class="lead mb-5">
        We have tried many different approaches to getting clean tight bass into these cars without
        compromising esthetics or functionality. This subwoofer enclosure sits in the passenger
        footwell perfectly and features a 10" Diamond Audio driver that handles 150 Watts RMS. The
        sound is rich, deep and clean. Even in convertibles, for which we originally designed it.
        The carpet is either standard or Porsche factory carpet and the match is usually perfect or
        very close, though we can't guarantee it. Note: Will not work with factory BOSE subwoofer
        mounted to the side of the console.
      </p>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img001}
            description="At only 4 ½” deep it leaves plenty of space for even long legged passengers. It sits equal to where your feet would be positioned on the driver's side pedals."
          />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img002}
            description="The back is finished, wired and ready for an amplifier. Note: A separate amplifier, wiring and installation is required."
          />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard imgsrc={img003} description="No one will ever know, until you turn it on." />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img004}
            description="Due to the limited space in the 964 foot well we placed this one in front of the passenger seat."
          />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img005}
            description="Same idea as our more popular 996 / 997 / Boxster box. A down-firing Diamond Audio 10” Sub."
          />
        </div>
      </div>

      <div class="my-5">
        <h4>
          Give us a <a href="tel:617-787-7744" class="link-effect">call</a> to Purchase the subwoofer
          with either standard or factory carpet.
        </h4>
        <p><a href="tel:617-787-7744" class="link-effect">617-787-7744</a></p>
      </div>
    </div>
  </main>
</Layout>
<style lang="scss">
  .container {
    animation: fadeIn linear 0.3s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  main {
    padding-top: 0;
  }
</style>
