---
import Layout from '../layouts/Layout.astro';
import { SIM_RED } from '../config';
const title = 'About Us';
const headingTitle = SIM_RED;
import derek from '../images/team/Derek-Kenney.jpg';
import jim from '../images/team/Jim-Cavanaugh.jpg';
import fernando from '../images/team/Fernando-Ventura.jpg';
import pat from '../images/team/Pat-Fennell.jpg';
import coley from '../images/team/Coley-McGuire.jpg';
import zach from '../images/team/Zach-Cohen.jpg';
---

<Layout title={title}>
  <main>
    <div class="container">
      <section>
        <div>
          <h1 class="display-6">{title}</h1>
          <p class="lead">
            Sound in Motion (a.k.a. SiM) is a renowned Mobile Electronics shop specializing in
            design, sales and installations of High Performance Car Audio systems, as well as many
            other aftermarket and OEM components. With over a century of combined experience, Sound
            in Motion is one of the most experienced and recognized Mobile Electronics Specialty
            Retailers in the nation. Every one of us is a pure enthusiast constantly questing that
            sonic nirvana.
          </p>
          <p class="lead">
            Established in 1988 Sound in Motion is well known for its multi-award-winning
            installations, several of which have been featured all over the world. You can check
            them out in our <a class="link-effect" href="/media/social">Media</a> section. Many early
            years have been spent designing and building competition vehicles, experimenting with everything
            from off the shelf components, to raw esoteric home drivers and exotic crossover components.
            The result is a showroom full of trophies, including two <a
              class="link-effect"
              href="https://iasca.com/"
              target="_blank">IASCA</a
            > World Championships along with a lot of experience we now proudly offer to our clients.
            Read what they have to say in our <a class="link-effect" href="/media/testimonials"
              >Testimonials</a
            > section, and online reviews in our <a class="link-effect" href="/media/social"
              >Social</a
            > section.

            <!-- <a
              class="link-effect"
              href="https://www.google.com/search?hl=en-US&gl=us&q=Sound+in+Motion,+120+Elm+St+Rear,+Watertown,+MA+02472&ludocid=15661739115717546429&lsig=AB86z5VnYgBLMBjHWq80gHgbS3aW&hl=en&gl=US#lrd=0x89e379c37505e611:0xd959acbf0d2f51bd,1"
              target="_blank">Google</a
            > & <a
              class="link-effect"
              href="https://www.yelp.com/biz/sound-in-motion-watertown#reviews"
              target="_blank">Yelp</a
            > -->
          </p>
          <p class="lead">
            Our Mission is to offer the greatest possible results within a given budget. We
            specialize in OEM aesthetic integration, meaning we strive to not detract from the
            original look or functionality of the vehicle, no matter how rare, or common. We go to
            great lengths to source materials that match the interior in color, feel and texture as
            well as hide components in sensible, safe, but serviceable locations. The end result
            should be a greatly improved OEM experience, not a complicated mess of added "stuff".
          </p>
          <p class="lead">
            Sound in Motion is an authorized reseller for most of the high-quality brands at
            competitive prices. Visit our <a class="link-effect" href="/products/product-lines"
              >Product Lines</a
            > section for a substantial list of the primary brands we carry. All of our installations
            are performed with the utmost care and highest quality of craftsmanship by trained and experienced
            technicians. We offer a lifetime warranty on all of our work for as long as you own the vehicle
            and equipment warranty as per the manufacturer. Please <a
              class="link-effect"
              href="tel:617-787-7744">Call Us</a
            > or <a class="link-effect" href="mailto:info@sound-in-motion">Email Us</a> or come <a
              class="link-effect"
              href="/contact#location-map">Visit</a
            > so we can consult your Mobile Electronics needs.
          </p>
        </div>
      </section>
      <section>
        <h3 class="display-6">Meet The Team</h3>
        <div class="row featurette">
          <div class="col-md-7 d-flex align-items-center">
            <div>
              <h2 class="featurette-heading lh-1">
                Derek <span class="text-muted">Kenney</span>
              </h2>
              <p class="lead">
                Owner, born in Munich Germany, Derek grew up being exposed to high end home audio
                systems from his parents HiFi import and distribution business. The seed was planted
                early, but not being able to afford a house for home audio, he directed his teenage
                years toward Car Audio. And yes, he had a complete amplified car audio system
                functioning in his bedroom before even purchasing his first car. Over the years the
                caliper and complexity of the systems grew substantially. After he was introduced to
                IASCA, the competition bug set in. Even more elaborate systems were built and car
                audio competitions were attended and won all over the country. This led him to a job
                offer working at MB Quart for a few years prior to purchasing Sound in Motion in
                1996. Derek is also an aviation enthusiast, private pilot and loves to be outside,
                travel and spend time with his family.
              </p>
            </div>
          </div>
          <div class="col-md-5 text-xl-end">
            <img src={derek} alt="Derek Kenney" class="featurette-image img-fluid mx-auto" />
          </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7 order-md-2 d-flex align-items-center">
            <div>
              <h2 class="featurette-heading lh-1">
                Jim <span class="text-muted">Cavanaugh</span>
              </h2>
              <p class="lead">
                Store Manager, customer relations & system designer. Jim is the face of Sound in
                Motion and pretty much does it all. Having been bitten by the Car Audio bug early on
                in life, Jim never looked back. You'd be hard pressed to find anyone with better
                product & vehicle knowledge or with more resourcefulness to solving customers'
                requests. His discerning ear and constant quest for giving every customer the
                absolute best possible experience keeps all of us on our toes. In his free time, Jim
                is also an avid BMX flatland rider, extreme car enthusiast and an avid Formula One
                fan.
              </p>
            </div>
          </div>
          <div class="col-md-5 order-md-1">
            <img src={jim} alt="Jim Cavanaugh" class="featurette-image img-fluid mx-auto" />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7 d-flex align-items-center">
            <div>
              <h2 class="featurette-heading lh-1">
                Fernando <span class="text-muted">Ventura</span>
              </h2>
              <p class="lead">
                Lead technician & Shop Supervisor, Fernando is our integration and wiring master as
                well as an incredible fabricator. With a lifelong dedication to the Car Audio
                industry and in the past, working at such legendary places as Rich's Car Tunes,
                Fernando's skills are second to none. You probably won't find anyone more careful
                and detail oriented and his amazing creations show that over and over. When not
                engulfed in Car Audio, Fernando loves to spend time with his family and riding and,
                or modifying his Harley Davidson Street Glide Special motorcycle.
              </p>
            </div>
          </div>
          <div class="col-md-5 text-xl-end">
            <img src={fernando} alt="Fernando Ventura" class="featurette-image img-fluid mx-auto" />
          </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7 order-md-2 d-flex align-items-center">
            <div>
              <h2 class="featurette-heading lh-1">
                Pat <span class="text-muted">Fennell</span>
              </h2>
              <p class="lead">
                Remote Start and Audio Expert. Pat has a vast knowledge of all remote start &
                security brands. His many years in the industry make him a legendary expert in this
                field and a valuable part of our team. Pat also has an incredible taste for high end
                audio gear and is constantly evolving his own systems to create that euphoric
                experience. Besides Car Audio, Pat is also an avid snowmobiler and loves spending
                time hitting the shows with his Lexus Car Club. Pat also has some extraordinary
                BBQing skills which we all get to enjoy in the summer months.
              </p>
            </div>
          </div>
          <div class="col-md-5 order-md-1">
            <img src={pat} alt="Pat Fennell" class="featurette-image img-fluid mx-auto" />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7 d-flex align-items-center">
            <div>
              <h2 class="featurette-heading lh-1">
                Coley <span class="text-muted">McGuire</span>
              </h2>
              <p class="lead">
                She is the heart and soul of our sister company <a
                  href="https://www.cardoneboston.com"
                  target="_blank"
                  class="link-effect"><span class="cardone">CarDone</span> Boston</a
                > specializing in an incredible level of Paint Correction, Ceramic Coatings, Interior
                Restoration and many other car betterments. Coley is also a Feynlab Certified Installer
                for all their coatings and protective products. Being obsessed with fast cars, in her
                free time, you will find her at car shows, race tracks or any other car related event.
                The rest of her time is spent modifying her BMW to make it faster.
              </p>
            </div>
          </div>
          <div class="col-md-5 text-xl-end">
            <img src={coley} alt="Coley McGuire" class="featurette-image img-fluid mx-auto" />
          </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7 order-md-2 d-flex align-items-center">
            <div>
              <h2 class="featurette-heading lh-1">
                Antonia <span class="text-muted">Kenney</span>
              </h2>
              <p class="lead">
                Administrative and Bookkeeping, Antonia has kept the company financials in check
                since the early 2000's. She makes sure all our vendors get paid on time and the
                daily cash flow remains sustainable. Most of her free time is dedicated to taking
                great care of her family and she also loves traveling and spending time cultivating
                her vegetable garden.
              </p>
            </div>
          </div>
          <div class="col-md-5 order-md-1">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7 d-flex align-items-center">
            <div>
              <h2 class="featurette-heading lh-1">
                Zach <span class="text-muted">Cohen</span>
              </h2>
              <p class="lead">
                Our Social Media Expert, loves documenting anything and everything car related. Zach
                always keeps our customers and online followers up to date with what is currently
                going on at the shop. On the weekends he can be found capturing the beauty of exotic
                automobiles at local or distant car events with his camera or phone. You can follow
                his work on <a
                  class="link-effect"
                  href="https://www.instagram.com/car_zach/"
                  target="_blank">Instagram</a
                >
              </p>
            </div>
          </div>
          <div class="col-md-5 text-xl-end">
            <img src={zach} alt="Zach Cohen" class="featurette-image img-fluid mx-auto" />
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style lang="scss" define:vars={{ headingTitle }}>
  h3 {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--headingTitle);
    margin-bottom: 5rem;
  }

  a {
    font-weight: 600;
  }

  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    color: var(--headingTitle);
    letter-spacing: -0.05rem;
    font-size: 2rem;
  }

  .featurette-image {
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  }

  .featurette-divider {
    margin: 5rem 0;
  }

  @media (min-width: 640px) {
    section {
      margin-bottom: 10rem;
    }

    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 3.125rem;
    }
  }

  @media (min-width: 1400px) {
    .featurette-image {
      width: 500px;
    }
  }
</style>
