---
import Layout from '../layouts/Layout.astro';
import SectionHeading from '../components/SectionHeading.astro';
import installData from '../data/full-system-installs.json';
import InstalIItem from '../components/InstalIItem.astro';
const { installs } = installData;
const title = 'Upgraded and High Performance Car Audio Systems';
---

<Layout title={title}>
  <main>
    <div class="container fade-in">
      <section>
        <h1 class="display-6">{title}</h1>
        <p class="lead mb-5">
          High Performance Car Audio is our true passion and still the core of our business. Even
          though we evolved from building extremely powerful, multi amp competition sound systems,
          installed in a very highlighted fashion, things have changed over the years. Now we have
          shifted our direction to super-efficient, non-intrusive audio systems that do not detract
          from the vehicles looks or functionality, but still provide an incredible sonic experience
          as well as a great value for our clients. Each system is individually designed to give the
          best possible results in your vehicle and within your budget.
        </p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
          <div class="col">
            <svg
              class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
              width="500"
              height="500"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: 500x500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              ><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text
                x="50%"
                y="50%"
                fill="#aaa"
                dy=".3em">500x500</text
              >
            </svg>
          </div>
        </div>
      </section>
      <section>
        <SectionHeading
          heading="Previous Projects"
          description="These are a few samples of the projects we've accomplished in the past to show the quality of our work."
        />
        <div id="installs">
          {
            installs.map((item) => (
              <InstalIItem
                url={item.linkUrl}
                src={item.imgSrc}
                name={item.linkText}
                description={item.description}
                date={item.date}
              />
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<style lang="scss"></style>
