---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import soundInMotionImg from "../images/logos/sound-in-motion.png";
import LinkCard from "../components/LinkCard.astro";
import cupholder from "../images/installs/porscheCup/002.jpg";
import subwoofer from "../images/installs/porscheSub/002.jpg";
import speaker from "../images/installs/porscheSpeakerFix/007.jpg";
import door from "../images/installs/porscheDoorFix/002.jpg";
---

<Layout title="Boston's Best Mobile Entertainment Design, Installation & Custom Fabrication Shops">
  <main class="flex-shrink-0">
    <Carousel />
    <div class="container">
      <!-- <section id="sim">
        <img
          src={soundInMotionImg}
          alt="Sound in Motion - High Performance Car Audio - Boston MA"
        />
        <h4>High Performance Car Audio - Boston MA</h4>
      </section> -->
      <section>
        <h3 class="display-6">What We Offer</h3>
        <p class="lead">Consultation, Design, Sales and Installation of the following</p>
        <ul>
          <li>
            <a href="fullSystemInstalls.html">Upgraded and High Performance Car Audio Systems</a>
          </li>
          <li><a href="installsDetail.html?id=0">iPod Integration</a></li>
          <li>
            <a href="installsDetail.html?id=1">Bluetooth and Hands-Free Phone Kits</a>
          </li>
          <li>
            <a href="installsDetail.html?id=2">Satellite Radio, XM / Sirius</a>
          </li>
          <li><a href="installsDetail.html?id=3">GPS Navigation</a></li>
          <li>
            <a href="installsDetail.html?id=4">Radar / Laser Detectors and Jammers</a>
          </li>
          <li>
            <a href="installsDetail.html?id=5">Back-Up Cameras and Sensors</a>
          </li>
          <li><a href="installsDetail.html?id=6">Video Entertainment</a></li>
          <li><a href="installsDetail.html?id=7">Sound Deadening</a></li>
          <li><a href="installsDetail.html?id=8">HD Radio</a></li>
          <li><a href="installsDetail.html?id=9">Window Tinting</a></li>
          <li>
            <a href="installsDetail.html?id=10">Vehicle Security Systems</a>
          </li>
          <li><a href="installsDetail.html?id=11">Remote Car Starters</a></li>
          <li><a href="installsDetail.html?id=12">GPS Tracking Systems</a></li>
          <li>
            <a href="installsDetail.html?id=13">HID / Xenon Headlight Upgrades</a>
          </li>
          <li>
            <a href="installsDetail.html?id=14">Custom Fabrication with Plastic, Wood, Metal etc.</a
            >
          </li>
          <li><a href="installsDetail.html?id=15">Wheel and Tire Packages</a></li>
        </ul>
      </section>
      <section>
        <h3 class="display-6">Porsche Upgrades</h3>
        <p class="lead">
          We have a number of solutions for the Porsche 911, 964, 996, 997, Boxster, and Cayman, as
          seen in Excellence Magazine.
        </p>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-44444 g-4">
          <div class="col d-flex align-items-stretch">
            <LinkCard
              imgsrc={cupholder}
              alt=""
              cardtitle="A Cup Holder for Your Early Porsche Boxster or 996"
              href="/products/porsche-cupholder"
            />
          </div>
          <div class="col d-flex align-items-stretch">
            <LinkCard
              imgsrc={subwoofer}
              alt=""
              cardtitle="A Subwoofer for Porsche 964, 996, 997, Boxster and Cayman"
              href="/products/porsche-subwoofer"
            />
          </div>
          <div class="col d-flex align-items-stretch">
            <LinkCard
              imgsrc={speaker}
              alt=""
              cardtitle="Porsche 911 Speaker Fix"
              href="/products/porsche-speaker-fix"
            />
          </div>
          <div class="col d-flex align-items-stretch">
            <LinkCard
              imgsrc={door}
              alt=""
              cardtitle="Porsche 911 Broken Door Pocket Fix"
              href="/products/porsche-door-pocket-fix"
            />
          </div>
        </div>

        <!-- <div>
          <h5>A Cup Holder for Your Early Porsche Boxster or 996</h5>
        </div>
        <div>
          <h5>A Subwoofer for Porsche 964, 996, 997, Boxster and Cayman</h5>
        </div>
        <div>
          <h5></h5>
        </div>
        <div>
          <h5>Porsche 911 Broken Door Pocket Fix</h5>
        </div> -->
      </section>
    </div>
  </main>
</Layout>

<style>
  main {
    padding-top: 0;
  }

  section {
    margin-bottom: 5rem;
  }

  h3 {
    border-bottom: 2px solid #bd0000;
    padding-bottom: 0.5rem;
  }

  h3 + p {
    margin-bottom: 2rem;
  }

  #sim {
    text-align: center;
  }

  #sim img {
    width: 280px;
  }

  #sim h4 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    margin-top: 0.5rem;
  }

  @media (max-width: 420px) {
    #sim h4 {
      font-size: 1rem;
    }
  }

  @media (min-width: 420px) {
    #sim img {
      width: 350px;
    }
  }

  @media (min-width: 575px) {
    #sim {
      text-align: left;
    }
  }

  @media (min-width: 768px) {
    #sim img {
      width: 500px;
    }
  }
</style>
