---
import Layout from '../layouts/Layout.astro';
import PublicationCover from '../components/PublicationCover.astro';
import publicationData from '../data/publications.json';
const { publications } = publicationData;
import Review from '../components/Review.astro';
import reviewsData from '../data/reviews.json';
const { reviews } = reviewsData;
const title = 'Media';
---

<Layout title={title}>
  <div id="sub-nav">
    <div class="container">
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a href="#social" class="nav-link">Social</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#publications" class="nav-link">Publications</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <main>
    <div class="container fade-in">
      <section id="social">
        <h1 class="display-6">Social</h1>
        <p class="lead mb-5">
          To see what is currently going on at the shop, or read what people are saying about us,
          please follow us on Social Media, or check out our online reviews and testimonials. You
          can also see our work extensively featured in various <a
            href="#publications"
            class="link-effect">magazines</a
          >. And if you really want to go way back, check out our original <a
            href="https://www.soundinmotionboston.com/"
            target="_blank"
            class="link-effect">website</a
          > built around 1999.
        </p>
        <div class="row logos">
          <div>
            <a href="https://www.instagram.com/soundinmotionboston/" target="blank">
              <img src="/logos/instagram.png" alt="" />
            </a>
          </div>
          <div>
            <a href="https://www.facebook.com/Sound-in-Motion-88032636715" target="blank">
              <img src="/logos/facebook.png" alt="" />
            </a>
          </div>
          <div>
            <a href="https://www.youtube.com/user/soundinmotionboston" target="blank">
              <img src="/logos/youtube.png" alt="" />
            </a>
          </div>
          <div>
            <a
              href="https://www.google.com/search?q=sound+in+motion+boston+reviews#lrd=0x89e379c37505e611:0xd959acbf0d2f51bd,1,,,,"
              target="_blank"
            >
              <img src="/logos/google.png" alt="" />
            </a>
          </div>
          <div>
            <a href="https://www.yelp.com/biz/sound-in-motion-watertown#reviews" target="_blank">
              <img src="/logos/yelp.png" alt="" />
            </a>
          </div>
        </div>
      </section>
      <section id="reviews">
        <h1 class="display-6">Reviews</h1>
        <p class="lead">
          Some of our amazing customers include high profile members of the Boston Red Sox, New
          England Patriots, Boston Celtics and many great companies like Bose Corporation, Nuance
          (Dragon Speech Recognition), Novint Technologies (Falcon Gaming Controller) as well as
          many local car dealers and independent shops. We very much appreciate all the referrals
          and any client taking the time to write us a review. Here is what some of them have to
          say.
        </p>
        <ul class="list-unstyled">
          {
            reviews.map((item) => (
              <li class="mt-5">
                <Review item={item} />
              </li>
            ))
          }
        </ul>
        <p class="lead mt-5">
          Read more reviews on <a
            href="https://www.google.com/search?q=sound+in+motion+boston+reviews#lrd=0x89e379c37505e611:0xd959acbf0d2f51bd,1,,,,"
            target="_blank"
            class="link-effect">Google</a
          > and <a
            href="https://www.yelp.com/biz/sound-in-motion-watertown#reviews"
            target="_blank"
            class="link-effect">Yelp</a
          >.
        </p>
      </section>
      <section id="publications">
        <h1 class="display-6">Publications</h1>
        <p class="lead mb-5">
          Over the years, when print was the dominant media, our work has received substantial
          coverage in a variety of periodicals. Below is a list of several auto journals and other
          publications that have highlighted our work.
        </p>
        <div id="publications-list">
          {
            publications.map((item) => (
              <div>
                <PublicationCover
                  url={item.imgSrc}
                  name={item.name}
                  description={item.description}
                  date={item.date}
                />
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<script>
  import '../scripts/scroll-spy.ts';
</script>

<style lang="scss">
  main {
    padding-top: 0;
    margin-top: -3.9rem;
  }

  section {
    padding-top: 10rem;
  }

  a {
    font-weight: 600;
  }

  .logos {
    display: flex;
    div {
      display: flex;
      width: 20%;
      align-items: center;
      justify-content: center;
    }
    a {
      transition: all 0.25s ease-in-out;
      &:hover {
        transform: scale(1.3);
      }
    }
    img {
      width: 2rem;
      height: auto;
    }
  }

  #sub-nav {
    position: fixed;
    top: 3.5rem;
    right: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--sim-white-secondary);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 5;
    .nav-link {
      font-weight: 600;
      color: var(--sim-gray);
      border-bottom: 0.3rem solid transparent;
      padding: 0.25rem;
      &.active {
        background-color: transparent;
        border-radius: 0;
        border-bottom: 0.3rem solid var(--sim-red);
        color: var(--sim-red);
      }
    }
    .nav-link:focus,
    .nav-link:hover {
      color: var(--sim-red);
    }
  }

  #publications-list {
    display: flex;
    flex-wrap: wrap;
    div {
      margin-bottom: 4rem;
      flex: 0 0 auto;
      width: 100%;
    }
  }

  @media (min-width: 420px) {
    #sub-nav {
      .nav-link {
        padding: 0.5rem;
      }
    }
  }

  @media (min-width: 500px) {
    #sub-nav {
      padding-top: 1rem;
      padding-bottom: 1rem;
      .nav-link {
        padding: 0.5rem 1rem;
      }
    }

    .logos img {
      width: 3rem;
    }
  }

  @media (min-width: 768px) {
    #publications-list div {
      width: 50%;
    }
  }

  @media (min-width: 992px) {
    #sub-nav {
      top: 3.9rem;
    }

    section {
      padding-top: 12rem;
    }

    #publications-list div {
      margin-bottom: 7rem;
    }
  }
</style>
