---
import Layout from '../layouts/Layout.astro';
import PublicationCover from '../components/PublicationCover.astro';
import publicationData from '../data/publications.json';
const { publications } = publicationData;
import Testimonial from '../components/Testimonial.astro';
import testimonialData from '../data/testimonals.json';
const { testimonials } = testimonialData;
const title = 'Media';
---

<Layout title={title}>
  <div id="sub-nav">
    <div class="container">
      <nav id="media-nav">
        <ul class="nav">
          <!-- <li class="nav-item">
            <a href="#social" class="nav-link">Social</a>
          </li> -->
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#publications" class="nav-link">Publications</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <main>
    <div class="container fade-in" data-bs-spy="scroll" data-bs-target="#media-nav">
      <section id="reviews">
        <h1 class="display-6">Reviews</h1>
        <p class="lead">
          Some of our high profile customers include members of the Boston Red Sox, New England
          Patriots, Boston Celtics, Bose Corporation, Cross Country Automotive Services, Herb
          Chambers Porsche / BMW / Toyota, Novint Technologies, Mercedes of Westwood, Chambers
          Motorcars, Rockingham Scion and many more. Check out the reviews they have left for us
          here as well as on <a
            href="https://www.google.com/search?q=sound+in+motion+boston+reviews#lrd=0x89e379c37505e611:0xd959acbf0d2f51bd,1,,,,"
            target="_blank"
            class="link-effect">Google</a
          > and <a
            href="https://www.yelp.com/biz/sound-in-motion-watertown#reviews"
            target="_blank"
            class="link-effect">Yelp</a
          >.
        </p>
        <ul class="list-unstyled">
          {
            testimonials.map((item) => (
              <li class="mt-5">
                <Testimonial item={item} />
              </li>
            ))
          }
        </ul>
      </section>
      <hr class="featurette-divider" />
      <section id="publications">
        <h1 class="display-6">Publications</h1>
        <p class="lead mb-5">
          Over the years, when print was the dominant media, our work has received substantial
          coverage in a variety of periodicals. Below is a list of several auto journals and other
          publications that have highlighted our work.
        </p>
        <div id="publications-list">
          {
            publications.map((item) => (
              <div>
                <PublicationCover
                  url={item.imgSrc}
                  name={item.name}
                  description={item.description}
                  date={item.date}
                />
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    padding-top: 0;
    margin-top: -3.9rem;
  }

  section {
    padding-top: 10rem;
  }

  a {
    font-weight: 600;
  }

  #sub-nav {
    position: fixed;
    top: 3.5rem;
    right: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--sim-white-secondary);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 5;
    .nav-link {
      font-weight: 600;
      color: var(--sim-gray);
      border-bottom: 0.3rem solid transparent;
      padding: 0.25rem;
      &.active {
        background-color: transparent;
        border-radius: 0;
        border-bottom: 0.3rem solid var(--sim-red);
        color: var(--sim-red);
      }
    }
    .nav-link:focus,
    .nav-link:hover {
      color: var(--sim-red);
    }
  }

  #publications-list {
    display: flex;
    flex-wrap: wrap;
    div {
      margin-bottom: 4rem;
      flex: 0 0 auto;
      width: 100%;
    }
  }

  @media (min-width: 420px) {
    #sub-nav {
      .nav-link {
        padding: 0.5rem;
      }
    }
  }

  @media (min-width: 500px) {
    #sub-nav {
      padding-top: 1rem;
      padding-bottom: 1rem;
      .nav-link {
        padding: 0.5rem 1rem;
      }
    }
  }

  @media (min-width: 768px) {
    #publications-list div {
      width: 50%;
    }
  }

  @media (min-width: 992px) {
    #sub-nav {
      top: 3.9rem;
    }

    section {
      padding-top: 12rem;
    }

    #publications-list div {
      margin-bottom: 7rem;
    }
  }
</style>
