---
import Layout from '../layouts/Layout.astro';
import ProductLinesItem from '../components/ProductLinesItem.astro';
import data from '../data/product-lines.json';
import { SIM_RED, SIM_GRAY_XLT } from '../config';
const title = 'Product Lines';
const { audio, radar, security, other } = data;
const headingTitle = SIM_RED;
const headingBorder = SIM_GRAY_XLT;
---

<Layout title={title}>
  <main>
    <div class="container">
      <h1 class="display-6">{title}</h1>
      <p class="lead mb-5">
        Sound in Motion is an authorized dealer for most high-quality brand names at competitive
        prices. We are constantly searching for and evaluating new products that best suit our
        clients' needs and requests. All products purchased from us come with the manufacturer
        warranty, while our installation warranty is always lifetime for as long as you own your
        vehicle.
      </p>
      <div class="row row-cols-1">
        <div class="align-items-stretch mb-5">
          <h4>Audio & Multimedia</h4>
          <ul>
            {audio.map((item) => <ProductLinesItem item={item} />)}
          </ul>
        </div>
        <div class="align-items-stretch mb-5">
          <h4>Radar & Laser Defense Systems</h4>
          <ul>
            {radar.map((item) => <ProductLinesItem item={item} />)}
          </ul>
        </div>
        <div class="align-items-stretch mb-5">
          <h4>Remote Starters & Security</h4>
          <ul>
            {security.map((item) => <ProductLinesItem item={item} />)}
          </ul>
        </div>
        <div class="align-items-stretch mb-5">
          <h4>Dash Cams, Sound Deadening, Interfaces & Other</h4>
          <ul>
            {other.map((item) => <ProductLinesItem item={item} />)}
          </ul>
        </div>
      </div>
    </div>
  </main>
</Layout>
<style lang="scss" define:vars={{ headingTitle, headingBorder }}>
  .container {
    animation: fadeIn linear 0.3s;
  }

  h4 {
    color: var(--headingTitle);
    border-bottom: 1px solid var(--headingBorder);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
