---
import ImgCard from "./ImgCard.astro";
import img001 from "../images/installs/porscheSpeakerFix/001.jpg";
import img002 from "../images/installs/porscheSpeakerFix/002.jpg";
import img003 from "../images/installs/porscheSpeakerFix/003.jpg";
import img004 from "../images/installs/porscheSpeakerFix/004.jpg";
import img005 from "../images/installs/porscheSpeakerFix/005.jpg";
import img006 from "../images/installs/porscheSpeakerFix/006.jpg";
import img007 from "../images/installs/porscheSpeakerFix/007.jpg";
import img008 from "../images/installs/porscheSpeakerFix/008.jpg";
---

<h3>Porsche 911 Speaker Fix</h3>
<p>
  As these cars become more classic, the foam on the factory speakers deteriorates rendering them
  useless. For the front speakers we usually upgrade from the original 5¼" to a 6½" woofer and a
  better tweeter in the stock location. For the rear we sell a custom mounting plate that will
  accommodate a 4" coaxial speaker as well as the stock grille for that original look.
</p>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <div class="col d-flex align-items-stretch">
    <ImgCard
      imgsrc={img001}
      alt="Even on this low mileage car the foam surround on the original speakers just disintegrated over time."
      body="Even on this low mileage car the foam surround on the original speakers just disintegrated over time."
    />
  </div>
  <div class="col d-flex align-items-stretch">
    <ImgCard
      imgsrc={img002}
      alt="The hole on the door panel gets opened up to accommodate the larger woofer, but no metal is cut on the door itself."
      body="The hole on the door panel gets opened up to accommodate the larger woofer, but no metal is cut on the door itself."
    />
  </div>
  <div class="col d-flex align-items-stretch">
    <ImgCard
      imgsrc={img003}
      alt="An ABS spacer ring is used to compensate for the uneven door skin. The speaker will be mounted to the metal and needs to sit flat."
      body="An ABS spacer ring is used to compensate for the uneven door skin. The speaker will be mounted to the metal and needs to sit flat."
    />
  </div>
  <div class="col d-flex align-items-stretch">
    <ImgCard
      imgsrc={img004}
      alt="We always recommend the sound deadening. The original plastic vapor barrier is replaced with Dynamat Extreeme and some is also installed on the outer door skin."
      body="We always recommend the sound deadening. The original plastic vapor barrier is replaced with Dynamat Extreeme and some is also installed on the outer door skin."
    />
  </div>
  <div class="col d-flex align-items-stretch">
    <ImgCard
      imgsrc={img005}
      alt="The result, a clean original look, with a huge improvement in sound."
      body="The result, a clean original look, with a huge improvement in sound."
    />
  </div>
  <div class="col d-flex align-items-stretch">
    <ImgCard
      imgsrc={img006}
      alt="The rear factory speaker is part of the mounting plate that holds the original rectangular grille. And there are no good 4x6” replacement speakers with this grille shape."
      body="The rear factory speaker is part of the mounting plate that holds the original rectangular grille. And there are no good 4x6” replacement speakers with this grille shape."
    />
  </div>
  <div class="col d-flex align-items-stretch">
    <ImgCard
      imgsrc={img007}
      alt="So what we came up with is a custom mounting plate, that allows us to use the original grille while utelizing a high quality 4” co-axial midrange and tweeter. No modification to the rear deck is necessary."
      body="So what we came up with is a custom mounting plate, that allows us to use the original grille while utelizing a high quality 4” co-axial midrange and tweeter. No modification to the rear deck is necessary."
    />
  </div>
  <div class="col d-flex align-items-stretch">
    <ImgCard
      imgsrc={img008}
      alt="Again, a clean original look, with a huge improvement in sound."
      body="Again, a clean original look, with a huge improvement in sound."
    />
  </div>
</div>
