---
const { url, name, description, date } = Astro.props;
---

<div class="pub-container">
  <img src={url} alt={description} />
  <div>
    <h4>{name}</h4>
    <p class="lead mb-0">{description}</p>
    <p class="small">{date}</p>
  </div>
</div>
<style lang="scss">
  .pub-container {
    text-align: center;
    div {
      padding: 2rem 2rem 0;
    }
    h4 {
      color: var(--sim-red);
      margin-bottom: 0;
    }
  }

  @media (min-width: 992px) {
    .pub-container {
      display: flex;
      align-items: center;
      text-align: left;
      max-width: 100%;
      div {
        padding: 0 4rem 0 2rem;
      }
    }
  }
</style>
