---
import { SIM_RED, SIM_WHITE } from "../config";
const { item } = Astro.props;
const backgroundColor = SIM_WHITE;
const citeColor = SIM_RED;
---

<blockquote class="quote-card mt-5 shadow-sm">
  {item.comment && <p>{item.comment}</p>}
  {item.name && <cite>{item.name}</cite>}
  <ul class="list-unstyled">
    {item.company && <li class="list-unstyled-item">{item.company}</li>}
    {item.cityState && <li class="list-unstyled-item">{item.cityState}</li>}
    {item.vehicle && <li class="list-unstyled-item">{item.vehicle}</li>}
    {item.project && <li class="list-unstyled-item">{item.project}</li>}
    {
      item.linkText && (
        <li class="list-unstyled-item">
          <a class="link-effect" href={item.linkUrl}>
            {item.linkText}
          </a>
        </li>
      )
    }
  </ul>
</blockquote>

<style define:vars={{ citeColor, backgroundColor }}>
  .quote-card {
    background: var(--backgroundColor);
    padding: 1.2em 2em 1.2em 3.2em;
    box-sizing: border-box;
    border-radius: 0.375rem;
    position: relative;
    overflow: hidden;
    min-height: 120px;
  }

  .quote-card p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    text-align: justify;
  }

  .quote-card cite {
    font-size: 1.125rem;
    margin-top: 0.5rem;
    display: block;
    font-weight: 500;
    color: var(--citeColor);
    opacity: 0.8;
  }

  .quote-card a {
    font-weight: 600;
  }

  .quote-card:before {
    font-family: Georgia, serif;
    content: "\201c";
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 5rem;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }

  .quote-card:after {
    font-family: Georgia, serif;
    content: "\201d";
    position: absolute;
    bottom: -80px;
    line-height: 100px;
    right: -10px;
    font-size: 10rem;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
  }

  @media (min-width: 576px) {
    .quote-card p {
      font-size: 1.4rem;
      max-width: 90%;
    }

    .quote-card:after {
      font-size: 25rem;
      right: -32px;
      bottom: -110px;
    }
  }
</style>
