---
import Layout from '../../layouts/Layout.astro';
import ProductNav from '../../components/ProductNav.astro';
import PorscheCupholderOrderForm from '../../components/PorscheCupholderOrderForm.astro';
import ImgCard from '../../components/ImgCard.astro';
import img001 from '../../images/installs/porscheCup/001.jpg';
import img002 from '../../images/installs/porscheCup/002.jpg';
import img003 from '../../images/installs/porscheCup/003.jpg';
const title = 'A Cup Holder for Your Early Porsche Boxster or 996';
---

<Layout title={title}>
  <main>
    <ProductNav />
    <div class="container">
      <h1 class="display-6">{title}</h1>
      <p class="lead mb-5">
        I know, I know we shouldn't be distracted by our beverage while driving. But sometimes on
        that long cruise or distant trek to the track, don't you wish you had a place to put your
        drink? This was inspired by our customers request for the early models that didn't offer a
        factory cup holder. We made a few and the response was phenomenal. Constructed out of 6mm
        (½") ABS plastic and contoured to the perfect angle with a 73mm (2 ⅞") opening, it slides in
        securely between the lower and upper console.
      </p>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col d-flex align-items-stretch">
          <ImgCard imgsrc={img001} description="Before the cup holder is installed" />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img002}
            description="Just slide the cup holder in, or out if you don't want to use it."
          />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img003}
            description="Done! It even fills in the unpleasant gap between the two consoles."
          />
        </div>
      </div>

      <div class="my-5">
        <h4>Purchase the cup holder for only $59.99</h4>
        <PorscheCupholderOrderForm />
      </div>
    </div>
  </main>
</Layout>
<style lang="scss">
  .container {
    animation: fadeIn linear 0.3s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  main {
    padding-top: 0;
  }
</style>
