---
import Layout from "../../layouts/Layout.astro";
import ProductNav from "../../components/ProductNav.astro";
import ImgCard from "../../components/ImgCard.astro";
import img001 from "../../images/installs/porscheDoorFix/001.jpg";
import img002 from "../../images/installs/porscheDoorFix/002.jpg";
import img003 from "../../images/installs/porscheDoorFix/003.jpg";
import img004 from "../../images/installs/porscheDoorFix/004.jpg";
const title = "Porsche 911 Broken Door Pocket Fix";
---

<Layout title={title}>
  <main>
    <ProductNav />
    <div class="container">
      <h3>{title}</h3>
      <p>
        Do you own a "Modern Classic" 911? Then chances are that there is a crack in the plastic of
        your door pocket. This was a bad design from the factory and if this annoys you, we have a
        fix for it. You can either bring the car to our shop in Boston, or remove the six screws
        (don't lose the countersunk washers stuck to the carpet) and send the pockets to us. We
        clean and reseal the original plastic, and then add a reinforcement piece behind it plus
        supply a new longer screw and countersunk washer. We have been doing this fix for over ten
        years and it holds up great.
      </p>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img001}
            alt="A very common problem, the plastic cracks around the mounting screw. This one is not too bad but eventually the whole pocket will hang off."
            body="A very common problem, the plastic cracks around the mounting screw. This one is not too bad but eventually the whole pocket will hang off."
          />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img002}
            alt="The original plastic is sealed back together and reinforcement added along with a new longer screw and countersunk washer."
            body="The original plastic is sealed back together and reinforcement added along with a new longer screw and countersunk washer."
          />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img003}
            alt="Here is an example with the broken pocket removed from the car."
            body="Here is an example with the broken pocket removed from the car."
          />
        </div>
        <div class="col d-flex align-items-stretch">
          <ImgCard
            imgsrc={img004}
            alt="The fixed pocket prior to reinstallation."
            body="The fixed pocket prior to reinstallation."
          />
        </div>
      </div>
    </div>
  </main>
</Layout>
<style>
  .container {
    animation: fadeIn linear 0.3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
