---
import Layout from '../../layouts/Layout.astro';
import NavMedia from '../../components/NavMedia.astro';
import PublicationCover from '../../components/PublicationCover.astro';
import data from '../../data/publications.json';
const title = 'Publications';
const { publications } = data;
---

<Layout title={title}>
  <main>
    <NavMedia />
    <div class="container fade-in">
      <h1 class="display-6">{title}</h1>
      <p class="lead mb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, aliquid ea. Omnis obcaecati
        inventore labore architecto molestiae! Dicta porro ut totam consequuntur dolorum consequatur
        facere minima illum saepe repellat quibusdam maiores voluptas quo ratione, tempore, sapiente
        exercitationem omnis itaque qui corporis dolor laboriosam fuga explicabo optio. Dolore
        aperiam rem necessitatibus.
      </p>
      <section>
        <div id="publications">
          {
            publications.map((item) => (
              <div>
                <PublicationCover
                  url={item.imgSrc}
                  name={item.name}
                  description={item.description}
                  date={item.date}
                />
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    padding-top: 0;
  }

  #publications {
    display: flex;
    flex-wrap: wrap;
    div {
      padding-bottom: 4rem;
      flex: 0 0 auto;
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    #publications div {
      width: 50%;
    }
  }

  @media (min-width: 992px) {
    #publications div {
      padding-bottom: 7rem;
    }
  }
</style>
